<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>-.-</title>
    <link rel="stylesheet" href="{CSS}admin/reset.css">
    <link rel="stylesheet" href="{CSS}admin/bootstrap-admin.css">
    <link rel="stylesheet" href="{CSS}admin/backstage.css">
    <link rel="stylesheet" href="{CSS}public/page.css">
    <script src="{JS}public/jquery-1.8.3.min.js"></script>
    <script>pageurl="?m=admin&c=Comsuc&a=comSu";</script>
    <script src="{JS}public/page.js"></script>
</head>
<body>

<span class="main-title">用户投诉建议列表</span>
<div class="details">
    <div class="details_operation clearfix">
        <div class="bui_select">
        </div>
    </div>
    <!--表格-->
    <div id="show">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th width="20%">用户名称</th>
                <th width="30%">请求时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {if $data neq 0}
            {foreach $data as $key=>$val}
            <tr align="center">
                <td>{$val.username}</td>
                <td>{$val.time}</td>
                <td align="center"><a class="btn btn-link" onclick="edit({$val.username})">查看</a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <p align="center">
            {$page}
        </p>
        <p align="center">
            共{$count}条数据
        </p>
        {/if}
    </div>
</div>
</body>
<script type="text/javascript">

    function edit(username){
        window.location="?m=admin&c=Comsuc&a=comSu_look&username="+username;
    }


</script>
</html>