<div class="footer-content">
    <div class="footer-content-entrance">
        <a class="footer-content-link" href="?m=home&c=Accountc&a=about&p=guanyuwomen">关于我们</a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link footer-content-weixing">关注微信
            <img class="weixin-pic" src="{IMAGE}home/mmqrcode1511835374057.png">
        </a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link" href="?m=home&c=Accountc&a=about&p=tousujianyi">投诉建议</a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link kaidian_address" href="?m=home&c=Accountc&a=about&p=shangjiaruzhu">商家入驻</a>

    </div>
    <div class="footer-content-copyright">©2017-2020 {getConfig('systemUrl')}&nbsp;<a target="_blank">{getConfig('systemCopy')}</a> </div>
</div>