<div class="content-left fl">
    <div class="menu-left">
        <dl>
            <dt>个人中心</dt>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="{IMAGE}home/icon_order.png" width="18px" height="18px">
                            </span>
                <a href="?m=home&c=Accountc&a=order">我的订单</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="{IMAGE}home/icon_address.png" width="18px" height="18px">
                            </span>
                <a href="?m=home&c=Userc&a=address">送餐地址</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="{IMAGE}home/icon_score.png" width="18px" height="18px">
                            </span>
                <a href="?m=home&c=Userc&a=score">我的积分</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="{IMAGE}home/icon_balance.png" width="18px" height="18px">
                            </span>
                <a href="?m=home&c=Userc&a=balance">我的余额</a>
            </dd>
            <dd class="menu-item ">
                            <span class="left-icon">
                                <img src="{IMAGE}home/icon_settings.png" width="18px" height="18px">
                            </span>
                <a href="?m=home&c=Userc&a=setting">账户设置</a>
            </dd>
        </dl>
    </div>
</div>