<div id="show">
    <table class="table  table-hover">
        <thead>
        <tr>
            <th width="20%">用户名称</th>
            <th width="20%">手机</th>
            <th width="30%">注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {if $data neq 0}
        {foreach $data as $key=>$val}
        <tr align="center">
            <td>{$val.username}</td>
            <td>{$val.phone}</td>
            <td>{$val.regtime}</td>
            <td align="center"><a class="btn btn-link" onclick="editUser({$val.id})">编辑</a><a class="btn btn-link"  onclick="delUser({$val.username})">删除</a></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <p align="center">
        {$page}
    </p>
    <p align="center">
        共{$count}条数据
    </p>
    {/if}
</div>