{include file="{APP_PPDP}/home/header.html"}
<!--主体-->
<div class="content">
    <!--左侧导航-->
    {include file="{APP_PPDP}/home/menuLeft.html"}
    <!--右侧内容-->
            <!--右侧内容-->
            <div class="content-right fl">
                <div class="summary fl">
                    <h3 class="summary-header">我的余额</h3>
                </div>
                <div>
                    <div class="account-balance fl">
                        我的余额：<span>￥<span id="balance-value">{$data}</span></span>
                    </div>
                    <div class="account-recharge fl">
                        <button id="recharge" class="btn2">充值</button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
{include file="{APP_PPDP}/home/fonter.html"}
<div class="shop-cart shadow n">
    <div class="shop-head">
        购物车<a class="shop-clear">[清空]</a>
    </div>
    <div class="shop-body">
        <div class="isnull">
            <span></span>
            <b>购物车空空如也</b>
        </div>
    </div>
    <div class="shop-bottom">
        <div class="bottom-price fl">总计：￥<label>32</label>
        </div>
        <div class="bottom-icon"></div>
        <div class="bottom-pay fr">
            <a id="cart-pay">结算</a>
        </div>
    </div>
</div>
        <!--提示框-->
        <div id="alertModel" class="alertModel" >
        <a id="alert" data-reveal-id="alertModel" data-animation="fade"></a>
        <span id="alert-msg"></span>
        <button id="btn-ok" class="btn">知道了</button>
        <a id="btn-close" class="close-reveal-modal"><img src="{IMAGE}home/icon_close.png" height="24" width="24"></a>
        </div>

        <script src="{JS}home/common.js"></script>
        <script src="{JS}home/md5.js"></script>
        <script src="{JS}home/login.js"></script>   
        <script src="{JS}home/cart.lib.js"></script>
        <script src="{JS}home/cart.js"></script>
        <script src="{JS}home/header.js"></script>
        <script src="{JS}home/account.js"></script>
        <script src="{JS}home/footer.js"></script>
        <script type="text/javascript">
                $(function(){ 
                    $("#recharge").click(function(event) {
                        window.location.href="?m=home&c=Accountc&a=balrecharge";
                    });
                    initCart();

                    //footer
                    processFooter();

                    //地址悬浮
                    $(".place-cc a,.place-nav").hover(function() {
                        $('.place-nav').show();
                    }, function() {
                        $('.place-nav').hide();
                    });

                    //购物车相关
                    var shopCartWidth=$(".shop-cart").width();
                    //默认隐藏购物车
                    $(".shop-cart,.shop-bottom").css("right",-shopCartWidth);
                    var mRight=-shopCartWidth;

                    $("#cart").click(function(){

                        $('.shop-cart').show();
                        //适配购物车
                        processShopItem();

                        shopCartWidth=$(".shop-cart").width();
                        if(mRight=='0px'){
                            mRight=-shopCartWidth;
                            $(".shop-cart,.shop-bottom").animate({literal}{right:mRight}{/literal},200);
                            }
                        else{
                                mRight='0px';
                                $(".shop-cart,.shop-bottom").animate({literal}{right:mRight}{/literal},200);
                                }
                            });




                            //中间高
                            var zw=$(window).width();
                            var middleWidth=$('.place-wrap').width();
                            var middleHeight=$('.place-wrap').height();
                            var marginLeft=(zw-middleWidth)/2;
                            $(".place-wrap-1").css("marginLeft",marginLeft);
                            $(".place-wrap-1").show();

                            //地址选择悬浮
                            $(".place-nav").css("left",marginLeft+32);//再加32
                            //地址点击
                            $('.city').click(function(event) {
                                var ip=$(this).attr("ip");
                                location.href="?m=home&c=Indexc&a=index&ip="+ip;
                            });

                            //弹出动画
                            $(".place-wrap").animate({literal}{"opacity":"0.9"}{/literal},200);




                                $(window).resize(function(){
                                    //中间高
                                    var zw=$(window).width();
                                    var middleWidth=$('.place-wrap').width();
                                    var middleHeight=$('.place-wrap').height();
                                    var marginLeft=(zw-middleWidth)/2;
                                    $(".place-wrap-1").css("marginLeft",marginLeft);
                                    //地址选择悬浮
                                    $(".place-nav").css("left",marginLeft+32);

                                    //适配购物车
                                    processShopItem();

                                    $('.shop-cart').hide();
                                    var shopCartWidth=$(".shop-cart").width();
                                    //默认隐藏购物车
                                    $(".shop-cart,.shop-bottom").css("right",-shopCartWidth);
                                    mRight=-shopCartWidth;

                                    processFooter();
                                });


                                //tab点击事件
                                $('.place-tab a').live("click",function(){
                                    //变样式
                                    obj=$(this);
                                    var cl=obj.parents('.place-tab').find('a');
                                    cl.removeClass('alive');
                                    $(this).addClass('alive');
                                    var pid=obj.attr('id');
                                    var cityId=obj.attr('cityId');
                                    var status=obj.attr('status');

                                    if(status==1)
                                    {
                                        $.ajax({
                                            type:"get",
                                            url:"?m=home&c=Shopc&a=current_business&cityId="+cityId,
                                            dataType:"json",
                                            success:function(reg){
                                                if(reg==0)
                                                {
                                                    showAlert("暂没有店铺");
                                                }else{
                                                    var str="";
                                                    for(var j=0;j<reg.length;j++)
                                                    {
                                                        str+='<div class="name-item"><a href="?m=home&c=Shopc&a=index&shopId='+reg[j]['shopId']+'">'+reg[j]['shopName']+'</a></div>';
                                                    }
                                                    var n="#"+pid.replace('t','n');
                                                    $(n).html(str);
                                                }
                                            }
                                        })
                                    }
                                    obj.attr('status',0);
                                    $('.place-names').hide();
                                    var n="#"+pid.replace('t','n');
                                    $(n).show();
                                });

                                function processFooter(){
                                    var zh=$(document.body).height();
                                    $(".footer-content").css('top', zh-60);
                                    $(".footer-content").show();
                                };

                            });
        </script>
    </body>
</html>